doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    text=option.rootsymbol + ' Call @ ' + option.bid + ' with strike ' + option.strikeprice + ' ends on ' + option.xdate